{% extends 'base.html' %}

{% block title_head %}
<title>About</title>
{% endblock title_head %}

{% block h1_header %}
Acerca de mi
{% endblock h1_header %}

{% block contenido %}
<table>
    <h2>Hola! Mi nombre es Noah, soy un chico de 19 años al que le gusta el deporte (sobre todo basquet y fútbol) y la computación.</h2>
    <h2>Me inscribí en este curso de python porque me lo recomendó un amigo para ampliar mis conocimientos y me encantó.</h2>
    <h2>Con ello me gustaría conseguir un trabajo relacionado.</h2>
</table>
{% endblock contenido %}
